<% provide(:title, 'All user') %>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <h1 class="no-center">All user</h1>
    <div class="search-user">
      <%= render "shared/search_form", path: users_path %>
    </div>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>
