<div class="login_recommended_bottom">
  <div class="flex_login_recommended_bottom">
    <h3 class="fix-h3">Would you like to express yourself?</h3>
    <div>
      <%= link_to "Login", login_path, class: "btn bottom_login" %>
      <%= link_to "Create account", new_user_path, class: "btn bottom_new_user" %>
    </div>
  </div>
</div>
