if("<%= @page %>" != "last"){
  $("#chat").prepend("<div class='flex-reverse-messages'>" +
                       "<%= escape_javascript(render(@messages)) %>" +
                     "</div>");
}
$("#chat").attr('data-page', "<%= @page %>")
