<% provide(:title, "Likes") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="microposts">
      <%= render @micropost %>
    </ul>
    <ul class="users">
      <%= render @like_users %>
    </ul>
    <%= paginate @like_users %>
  </div>
</div>
