<% provide(:title, "#{@micropost.content}") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="flex-microposts">
      <ol class="microposts">
        <%= render "show_micropost" ,micropost: @micropost %>
      <% if @replies %>
        <%= render @replies %>
        <%= paginate @replies %>
      <% end %>
    </ol>
    </div>
  </div>
  <%= render "shared/login_required" %>
</div>
